:root {
    --accent: #C0FF33;
    --neutral-0: #FFFFFF;
    --neutral-10: #E8E8E8;
    --neutral-30: #A0A0A0;
    --neutral-50: #777777;
    --neutral-70: #404040;
    --neutral-90: #161616;
    --neutral-100: #000000;
}

html {
    scroll-behavior: smooth;
    cursor: default;
    background-color: var(--neutral-90);
    shape-rendering: geometricPrecision;
    scrollbar-color: var(--neutral-70) var(--neutral-90);
    text-wrap: balance;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    color: var(--neutral-10);
    font-family: 'Quicksand', sans-serif;
}

.wrapper {
    margin: 0 auto;
    max-width: 1240px;
    padding-right: 24px;
    padding-left: 24px;
}