@keyframes bobbing {
    0%, 100% {
        transform: translateY(3px);
    }
    50% {
        transform: translateY(-6px);
    }
}

@keyframes alignment {
    100% {
        background-position: 0 32px, 16px 0
    }
}
